@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  background-color: #f2f2f2;
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
}

.main-container {
  flex-grow: 1;
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-link-logo {
  width: 140px;
  margin-right: 28px;
}

.logo-image {
  vertical-align: middle;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 470px;
  margin-right: auto;
  display: flex;
  justify-content: flex-start;
}

.navigation-link {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}

.navigation-list .navigation-link {
  padding: 20px 16px;
}

.navigation-link-current {
  text-decoration: underline;
  text-decoration-color: #756257;
  text-decoration-thickness: 2px;
  text-underline-offset: 21px;
  text-underline-position: under;
}

.fav-number {
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #ffffff;
  background-color: #7db54f;
}

.users-list {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 312px;
  margin-left: auto;
}

.users-list .button {
  margin-left: 20px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
}

.main-index {
  background-color: #ffffff;
}

.greeting {
  color: #000000;
  background-color: #756157;
  background-image: url("../images/decorate-index-background.svg"),
    url("../images/index-background.jpg");
  background-repeat: no-repeat,
    no-repeat;
  background-size: 100% auto,
    cover;
  background-position: left bottom,
    left top;
}

.greeting-image {
  display: block;
  width: 458px;
  margin-left: auto;
  margin-right: auto;
}

.advantages-caption {
  width: 620px;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.advantages-text {
  width: 651px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #333333;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.advantages-item .description {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-align: center;
}

.advantages-item:nth-child(2n) {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(2n-1) {
  width: 400px;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-list .advantages-item-accent {
  display: flex;
  width: 1200px;
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-list .advantages-item-accent:last-child {
  flex-direction: row-reverse;
}

.advantages-container {
  width: 400px;
}

.advantages-item-accent .description {
  color: #ffffff;
}

.service-caption {
  width: 505px;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.service-text {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #333333;
}

.service-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.service-item {
  width: 400px;
}

.service-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.service-item .description {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.service-item:nth-child(2n-1) {
  background-color: rgba(131, 179, 211, 0.12);
}

.selection-container {
  width: 592px;
  margin-left: auto;
  margin-right: auto;
}

.selection-caption {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.selection-text {
  text-align: center;
  color: #333333;
}

.selection-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background-color: #756157;
}

.index-subscribe {
  color: #ffffff;
  background-color: #756157;
  background-image: url("../images/background-inner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-container {
  width: 684px;
  margin-left: auto;
  margin-right: auto;
}

.index-page-footer {
  background-color: #ffffff;
}

.subscribe-title {
  width: 404px;
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe-text {
  text-align: center;
}

.subscribe-form input[type="email"] {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  color: #000000;
  background-color: #f2f2f2;
}

.subscribe-button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
}

.socials-container {
  width: 1060px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.socials-list {
  width: 142px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.socials-link {
  color: #000000;
  text-decoration: none;
}

.tel {
  width: 331px;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

.footer-logo {
  width: 115px;
}

.main-inner {
  background-color: #ffffff;
}

.wrapper {
  padding-left: 70px;
  padding-right: 70px;
  color: #ffffff;
  background-color: #756157;
  background-image: url("../images/background-inner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
}

.breadcrumbs-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.breadcrumbs-link {
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
}

.filter-form {
  display: flex;
}

.filter-group {
  width: 151px;
  margin-right: 70px;
}

.filter-group:nth-child(3) {
  width: 228px;
  margin-left: 70px;

}

.filter-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700px;
}

.control {
  font-size: 18px;
  line-height: 23px;
}

.control-range {
  font-size: 18px;
  line-height: 24px;
  text-transform: lowercase;
}

.control-range input[type="number"] {
  font-family: inherit;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  background-color: #f2f2f2;

}

.filter-form button {
  width: 191px;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.filter-form button[type="submit"] {
  background-color: #82b3d3;
}

.filter-form button[type="reset"] {
  background-color: transparent;
}

.sorting-conatiner {
  width: 1060;
  display: flex;
  margin-left: 70px;
  margin-right: 70px;
}

.catalog-title {
  width: 386px;
  margin-right: auto;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.catalog-select {
  width: 292px;
  margin-right: 70px;
  font-family: inherit;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  background-color: inherit;
}

.view-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotels-item {
  width: 300px;
  padding: 20px;
  outline: 1px solid #e6e6e6;
}

.view-link {
  color: #000000;
  text-decoration: none;
}

.hotels-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: 70px;
  margin-right: 70px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

}

.hotel-title {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
}

.hotel-parametr {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-price {
  text-align: right;
}

.hotel-link {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #756157;
}

.hotels-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
}

.hotels-item-favourites .hotels-button {
  background-color: #7db54f;
}

.rating-number {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #333333;
  background-color: #f2f2f2;
}

.pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  margin-left: 70px;
  margin-right: 70px;
}

.pagination-link {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #82b3d3;
}

.pagination-link-current {
  color: #000000;
  background-color: #f2f2f2;
}

.more {
  text-align: center;
}

.inner-subscribe .subscribe-text {
  color: #333333;
}

.inner-page-footer {
  background-color: #ffffff;
}

/*
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
*/
